<%= render "/common/top_bar" %>
<div class="section">
<div class="section-content">
  
  <div class="section-row">
    <div class="section-cell">
      <h2>Inventory</h2>
      <span class="stat-green"><%= number_to_currency(@shop.gross_inventory) %></span>
      <p class="stat-description"><%= @shop.total_products %> total products</p>
    </div>
    <div class="section-cell">
      <h2>Waitlists</h2>
      <span class="stat-green total-buyers"><%= @shop.total_buyers %> Buyers</span>
      <p class="stat-description total-raises"><%= @shop.total_raises %> outstanding raises</p>
    </div>
    <div class="section-cell">
      <h2>Waitlist Activity</h2>
      <%= column_chart(Buyer.group(:created_at).count, colors: ["#C0D891"], height: "75px", xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%e of %b'
            }}) %>
    </div>
  </div>

  <div class="section-row">
    <div class="section-cell">
    <div class="section-filter">    
      <div>
        <div class="filter-freecell"><input class="input-search" onkeyup="filter2(this, '.table-section', 1);" type="text" placeholder="Filter by product"></div>
      </div>
    </div>
    <table class="table-section">
        <thead>
          <tr>
            <th class="sortable">Product</th>
            <th class="sortable">Customers</th>
            <th class="sortable">Raises</th>
            <th class="sortable">Actions</th>
          </tr>
        </thead>
        <tbody>
          <br/>
          <% @product_buyers.each do |product| %>            
            <% id = product.remote_id %>
            <% title = product.title %>
            <tr id="<%= id %>">
            <td>
              <a href="buyers?product_id=<%= id %>&title=<%= title %>"><%= title %></a> 
              (<a href="#" onclick="ShopifyApp.redirect('/products/<%= id %>}')">inventory</a>)</td>
            <td><span class="lightgray"><%= product.buyers.count %></span></td>
            <td>
              <% raises = product.num_raises %>
              <span class="tag <%= raises == 0 ? "lightgray" : "orange" %>"><%= product.num_raises %></span> </td>
            <td>
              <a href="#top" class="btn default no-loading notify-product-update">Notify</a> 
              <%= link_to("Delete", "product?product_id=#{id}", remote: true, method: :delete, class: "btn no-loading", data: { confirm: "Do you want to delete this waiting list? This can't be undone.", title: "Confirm Delete" }) %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
    </div>
  </div>
</div>
</div>
